
#canvas-div{
    position: relative;
    height: 250px;
    margin-top: 1rem;
}

#main-canvas, #overlay-canvas{
    position: absolute;
    left:0;
    top:0;
}

#main-canvas{
    z-index: 1;
}

#overlay-canvas{
    z-index: 2;
}


