
#canvas-div{
    position: relative;
    height: 400px;
    margin-left: 10vw;
    margin-right: 10vw;
}

#main-canvas, #overlay-canvas{
    position: absolute;
    left:0;
    top:0;
}

#main-canvas{
    z-index: 1;
}

#overlay-canvas{
    z-index: 2;
}


